# ğŸ§ª CHAPTER 4 ì‹¤ìŠµ: ëª¨ë¸ ê°œë°œ

ì´ ë…¸íŠ¸ë¶ì€ ã€MLOps ë„ì… ê°€ì´ë“œã€ 4ì¥ì˜ ë‚´ìš©ì„ ì‹¤ìŠµí•˜ê¸° ìœ„í•œ í…œí”Œë¦¿ì…ë‹ˆë‹¤.

## âœ… ì‹¤ìŠµ ìˆœì„œ
1. ë°ì´í„° ë¡œë”© ë° íƒìƒ‰
2. íŠ¹ì„± ì—”ì§€ë‹ˆì–´ë§
3. ëª¨ë¸ í•™ìŠµ ë° í‰ê°€
4. ì‹¤í—˜ ì¶”ì  (MLflow)
5. ëª¨ë¸ ë²„ì „ ì €ì¥

## 1. ë°ì´í„° ë¡œë”© ë° íƒìƒ‰

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# ì˜ˆì‹œ ë°ì´í„°ì…‹: íƒ€ì´íƒ€ë‹‰
sns.set()
data = sns.load_dataset('titanic')
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## 2. íŠ¹ì„± ì—”ì§€ë‹ˆì–´ë§

In [ ]:
# ê°„ë‹¨í•œ ì „ì²˜ë¦¬ ì˜ˆì‹œ
data = data.dropna(subset=['age', 'embarked'])
data['sex'] = data['sex'].map({'male': 0, 'female': 1})
data['embarked'] = data['embarked'].astype('category').cat.codes
features = ['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked']
X = data[features]
y = data['survived']

## 3. ëª¨ë¸ í•™ìŠµ ë° í‰ê°€

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.82      0.80        80
           1       0.76      0.70      0.73        63

    accuracy                           0.77       143
   macro avg       0.77      0.76      0.76       143
weighted avg       0.77      0.77      0.77       143

## 4. ì‹¤í—˜ ì¶”ì  (MLflow)

In [ ]:
import mlflow
import mlflow.sklearn

with mlflow.start_run():
    mlflow.log_param("n_estimators", 100)
    mlflow.log_metric("accuracy", model.score(X_test, y_test))
    mlflow.sklearn.log_model(model, "random_forest_model")

/Users/lee/Documents/mlops-study/venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
2025/07/20 19:18:06 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
2025/07/20 19:18:08 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

## 5. ëª¨ë¸ ì €ì¥ (joblib)

In [ ]:
import joblib
joblib.dump(model, 'rf_model.pkl')

['rf_model.pkl']

âœ… ì´ì œ ëª¨ë¸ íŒŒì¼ì€ `rf_model.pkl`ë¡œ ì €ì¥ë˜ì—ˆìœ¼ë©°, ì¶”í›„ ë°°í¬ë‚˜ ì„œë¹™ ë‹¨ê³„ì—ì„œ í™œìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.