# 🧪 CHAPTER 4 실습: 모델 개발

이 노트북은 『MLOps 도입 가이드』 4장의 내용을 실습하기 위한 템플릿입니다.

## ✅ 실습 순서
1. 데이터 로딩 및 탐색
2. 특성 엔지니어링
3. 모델 학습 및 평가
4. 실험 추적 (MLflow)
5. 모델 버전 저장

## 1. 데이터 로딩 및 탐색

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# 예시 데이터셋: 타이타닉
sns.set()
data = sns.load_dataset('titanic')
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## 2. 특성 엔지니어링

In [ ]:
# 간단한 전처리 예시
data = data.dropna(subset=['age', 'embarked'])
data['sex'] = data['sex'].map({'male': 0, 'female': 1})
data['embarked'] = data['embarked'].astype('category').cat.codes
features = ['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked']
X = data[features]
y = data['survived']

## 3. 모델 학습 및 평가

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.82      0.80        80
           1       0.76      0.70      0.73        63

    accuracy                           0.77       143
   macro avg       0.77      0.76      0.76       143
weighted avg       0.77      0.77      0.77       143

## 4. 실험 추적 (MLflow)

In [ ]:
import mlflow
import mlflow.sklearn

with mlflow.start_run():
    mlflow.log_param("n_estimators", 100)
    mlflow.log_metric("accuracy", model.score(X_test, y_test))
    mlflow.sklearn.log_model(model, "random_forest_model")

/Users/lee/Documents/mlops-study/venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
2025/07/20 19:18:06 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
2025/07/20 19:18:08 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

## 5. 모델 저장 (joblib)

In [ ]:
import joblib
joblib.dump(model, 'rf_model.pkl')

['rf_model.pkl']

✅ 이제 모델 파일은 `rf_model.pkl`로 저장되었으며, 추후 배포나 서빙 단계에서 활용할 수 있습니다.